<% if(typeof user !== 'undefined' ){ %>
<div class="row" style="width:98%;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    <form method="POST">
    <br>
    <div class="form-group">
        <label for="exampleFormControlInput1">Item name </label>
        <input type="text" class="form-control" id="item_name" name="itemname" value="<%= item.item_name %>" required>
    </div>
    <div class="form-group">
        <label for="category_chosen">Category</label>
        <select class="form-control" id="category_chosen" name="category" required>
        <option value="<%= item.category %>" selected hidden><%= item.category %></option>
        <option>Electronics/Technology</option>
        <option>Vehicles/Parts</option>
        <option>Clothing</option>
        <option>Houseware</option>
        <option>Services</option>
        </select>
    </div>
    <div class="form-group">
        <div class="form-group">
        <label for="exampleFormControlFile1">Add an image</label>
        <input type="file" class="form-control-file" id="imageadded" name="image" value="<%= item.image %>" >
    </div>
    </div>
    <div class="form-group">
        <label for="item_desc">Item description</label>
        <textarea class="form-control" id="item_desc" name="description" rows="3" value="<%= item.description %>" required><%= item.description %></textarea>
    </div>
    <div class="form-group">
        <label for="location_chosen">Location</label>
        <select class="form-control" id="location_chosen" name="location" required>
        <option value="<%= item.item_location %>" selected hidden><%= item.item_location %></option>
        <option>North London</option>
        <option>East London</option>
        <option>West London</option>
        <option>South London</option>
        <option>Central London</option>
        <option>Manchester </option>
        <option>Liverpool</option>
        <option>Newcastle</option>
        <option>Brighton</option>
        </select>
    </div>
    <div class="form-group">
        <label>Estimated value (£)</label>
        <input class="form-control" type="number" min="1" max="100000" id="est_value" name="value" value="<%= item.est_cost %>" required>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" name="submit_reg" value="List your item">
    </div>
    </form>
    </div>
    <div class="col-md-3">
    </div>
</div>
<% }else{ %>
<div class="container">
        <div class="jumbotron">
            <h1 class="text-center text-primary">Please log in or register to list an item.</h1>
        </div>
        <div class="card">
            <article class="card-body align-items-center d-flex justify-content-center">
                        <a href="../register/" class="float-right mr-3 btn btn-outline-primary">Sign up</a>
                        <a href="../login/" class="float-right btn btn-outline-primary">Sign in</a>
            </article>
        </div> <!-- card.// -->
</div>
<% } %>