<% if(user != undefined){ %>
<div class="row">
  <form class="col-lg-6 col-md-6 col-sm-12 border-0 pl-5" method="POST" onsubmit="postItemData();">
    <br>
    <div class="form-group">
      <label for="exampleFormControlInput1">Your offer (£)</label>
      <input class="form-control" name="moneyOffered" type="number" min="1" max="100000" id="exampleFormControlInput1" placeholder="Numeric value" required>
    </div>
    <h1><strong>Item offer</strong></h1>
      <div class="droptarget" id="choice1" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px; border: solid black 1px;">
      </div>
      <div class="droptarget" id="choice2" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px;">
      </div>
      <div class="droptarget" id="choice3" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px; ">
      </div>
    <br style="clear: both;">
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Additional message</label>
      <textarea class="form-control" max="750" name="offerMessage" id="offerMessage" rows="3"></textarea>
    </div>
    <div class="form-group">
          <input class="btn btn-success" type="submit" id="submit-offer" value="Submit offer">
    </div>
  </form>
  <div class="col-lg-6 col-md-6 col-sm-12 text">
    <h1><strong>Items you own</strong><h6>(Drag and drop to Item offer)</h6></h1>
    <div class="description">
      <% userLoggedInItems.forEach((item, index, array) => {%>
        <% if(userLoggedInItemsImages[index] != undefined ){ %>
          <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px; ">
              <img draggable="true" id="<%= item.item_id %>" name="image" value="<%= item.item_id %>" ondragstart="drag(event)" style="height:60px; width:120px;" src="https://test123-njs.s3.eu-west-2.amazonaws.com/<%= userLoggedInItemsImages[index].key %>"> 
          </div>
        <% }else{ %>
            <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px; ">
              <img draggable="true" id="<%= item.item_id %>" name="image" value="<%= item.item_id %>" ondragstart="drag(event)" style="height:60px; width:120px;" src="images/noimageplaceholder.png"> 
          </div>
        <% } %>
      <% }); %>
    </div>
  </div>
<% }%>

<script>
  <% if(user){ %>
  //Sending notification for offer_placed
  // $('#submit-offer').click(() => {
  //   var type = 'offer_placed';
  //   var notificationFrom = '<%= user.user_name %>';
  //   var relatedItem = String(window.location).split('/')[String(window.location).split('/').length - 1];
  //   socket.emit('add notification', {
  //     'type': type,
  //     'notificationFrom': notificationFrom,
  //     'relatedItem': relatedItem
  //   });
  // });

  function postItemData(){
    var itemsOffered = [document.getElementById('choice1'), document.getElementById('choice2'), document.getElementById('choice3')];
    itemsOffered.forEach(item => {
      if(item.childElementCount>0){
        var node = document.createElement("INPUT");
        node.hidden = true;
        node.setAttribute("type", "text");
        node.setAttribute("value", item.firstElementChild.id);
        node.setAttribute("name", "itemsOffered");
        item.appendChild(node);
      }
    });
    //Send notification
    var type = 'offer_placed';
    var sender = '<%= user.user_name %>';
    var relatedItem = String(window.location).split('/')[String(window.location).split('/').length - 1];
    socket.emit('add notification', {
      'type': type,
      'sender': sender,
      'relatedItem': relatedItem
    });
    return true;
  }
  
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    // console.log("remove from "+ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
    // console.log("add to "+document.getElementById(data));

  }
  <% } %>
</script>