<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnyTimeTrade</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>
<body>
    <% include ../partials/navbar.ejs %>
    <% include ../partials/popupmessage %>
    <% if(user){ %>
    <div class="chat-interface">
        <div class="chatBox hidden" id="chatBox">
            <div class="chat-box-message" id="chat-box-message">
                <form onsubmit="appendYourMsg(); return false;" id="message-form">
                    <input type="text" id="chat-box-input">
                </form>
            </div>
        </div>
        <div class="chat-users hidden" id="chat-users"></div>
    </div>

    <div class="chatIcon" id="chatIcon"></div>
    <% } %>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- Need to assign variables so that I can use the last external js file-->
<script>
    <% if(user){ %>
        let user = '<%= user.user_name %>';
        let chatPeople = '<%= chatPersons %>';
        let allNotifications = [];
        let notificationCounter = 0;
        <% notifications.forEach((notification) => { %>
            var notificationContent = {
                'sender': '<%= notification.notification_from %>',
                'receiver': '<%= notification.notification_for%>',
                'type': '<%= notification.type %>',
                'date': '<%= notification.sent_at %>',
                'relatedItem': '<%= notification.related_item %>',
                'seen': '<%= notification.notification_seen %>'
            }
            allNotifications.push(notificationContent);
        <% }); %>
        var allChatsGrouped = [];
        <% chatMessages.forEach((chat)=> { %>
            var thisChatsMessages = [];
            <% chat.forEach((message) => { %>
                var m = {'sender': '<%= message.sender %>',
                        'receiver': '<%= message.receiver %>',
                        'message':'<%= message.message %>',
                        'date': '<%= message.date_posted %>',
                        'chat': '<%= message.part_of_chat %>' };
                thisChatsMessages.push(m);
            <% }); %>
            allChatsGrouped.push(thisChatsMessages);
        <% }); %>
    <% }else{ %>
        let user = undefined;
    <% } %>
    var message = '<%= message %>';
</script>
<script type="text/javascript" src="/js/base.js"></script>
</html>
