

<% include base.ejs %>
<% include ../partials/sendmessagemodal %>

<link rel="stylesheet" type="text/css" href="/styles/homepage.css">

<div class="main-content">
    <section class="filter-menu">
        <h6 class="filter-menu-title">Filter items</h6>
        <ul>
            <li>
                <div class="filter">
                    <h6>Price range </h6>
                    <div class="price-min">
                        <span class="price-min-input">Min £<input type="text" name="price-min" id="price-min"></span>
                    </div>
                    <div class="price-max-input">
                        <span class="price-max-input">Max £<input type="text" name="price-max" id="price-max"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="filter">
                    <h6>Sort by location</h6>
                    <select name="location-input" id="location-input">
                        <option value="" selected disabled hidden>Select a Location</option>
                        <option>North London</option>
                        <option>East London</option>
                        <option>West London</option>
                        <option>South London</option>
                        <option>Central London</option>
                        <option>Manchester </option>
                        <option>Liverpool</option>
                        <option>Newcastle</option>
                        <option>Brighton</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="filter">
                    <h6>Sort by date</h6>
                    <select name="date-input" id="date-input">
                            <option value="" selected disabled hidden>Select date to sort by</option>
                            <option>Oldest</option>
                            <option>Newest</option>
                    </select>

                </div>
            </li>
            <li>
                <div class="filter">
                    <h6>Sort by category</h6>
                    <select name="category-input" id="category-input">
                            <option value="" selected disabled hidden>Select a category</option>
                            <option>Electronics/Technology</option>
                            <option>Vehicles/Parts</option>
                            <option>Clothing</option>
                            <option>Houseware</option>
                            <option>Services</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="filter-apply">
                    <button class="btn btn-outline-primary filter-apply-btn">Apply</button>
                </div>
            </li>
            <li>
                <div class="filter-apply">
                    <button class="btn btn-outline-danger" id="filter-reset-btn">Reset</button>
                </div>
            </li>
        </ul>
    </section>
    <section class="items">
    </section>
</div>
<script>
    var items = [];
    <% items.forEach((item) => { %>
        items.push({
            item_name: '<%= item.item_name %>',
            key: '<%= item.key %>',
            description: '<%= item.description %>',
            est_cost: '<%= item.est_cost %>',
            date_posted: '<%= item.date_posted %>',
            user_posted: '<%= item.user_posted %>',
            item_id: '<%= item.item_id %>',
            location: '<%= item.item_location %>',
            category: '<%= item.category %>'
        });
    <% }); %>

    displayItems(items);

    document.getElementsByClassName('filter-apply-btn')[0].addEventListener('click', (e) => {
        var minPrice = document.getElementById('price-min').value;
        var maxPrice = document.getElementById('price-max').value;
        var locationOptions = document.getElementById('location-input');
        var location = locationOptions.options[locationOptions.selectedIndex].value;
        var categoryOptions = document.getElementById('category-input');
        var category = categoryOptions.options[categoryOptions.selectedIndex].value;
        var dateOptions = document.getElementById('date-input');
        var date = dateOptions.options[dateOptions.selectedIndex].value;
        var filters = [minPrice, maxPrice, location, category, date];

        //filter items
        var filteredItems = [];
        var previousFilter = false;

        if(minPrice != ''){
            var appliedFilter = [];
            items.forEach((item) => {
                if(parseInt(item.est_cost) >= parseInt(minPrice)){
                    appliedFilter.push(item);
                }
            });
            filteredItems = appliedFilter;
            previousFilter = true;
        }
        if(maxPrice != ''){
            var appliedFilter = [];
            if(previousFilter){
                filteredItems.forEach((item) => {
                    if(parseInt(item.est_cost) <= parseInt(maxPrice)){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }else{
                items.forEach((item) => {
                    if(parseInt(item.est_cost) <= parseInt(maxPrice)){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }
            previousFilter = true;
        }
        if(location != ''){
            var appliedFilter = [];
            if(previousFilter){
                filteredItems.forEach((item) => {
                    if(item.location == location){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }else{
                items.forEach((item) => {
                    if(item.location == location){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }
            previousFilter = true;
            
        }
        if(category != ''){
            var appliedFilter = [];
            if(previousFilter){
                filteredItems.forEach((item) => {
                    if(item.category == category){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }else{
                items.forEach((item) => {
                    if(item.category == category){
                        appliedFilter.push(item);
                    }
                });
                filteredItems = appliedFilter;
            }
            previousFilter = true;
        }

        if(date != ''){
            if(date == 'Oldest'){
                if(previousFilter){
                    filteredItems = sortByDate('Oldest', filteredItems);

                }else{
                    filteredItems = sortByDate('Oldest',items);
                }
            }else{
                if(previousFilter){
                    filteredItems = sortByDate('Newest', filteredItems);
                }else{
                    filteredItems= sortByDate('Newest',items);
                }
            }
            previousFilter = true;
        }

        var filtersApplied = false;
        filters.forEach((filter) => {
            if(filter != ''){
                filtersApplied = true;
            }
        });
        if(filtersApplied){
            clearAllItems();
            displayItems(filteredItems);
        }else{
            clearAllItems();
            displayItems(items);
        }
    });

    document.getElementById('filter-reset-btn').addEventListener('click', (e) => {
        reset();
    });

    function reset(){
        document.getElementById('price-min').value = '';
        document.getElementById('price-max').value = '';
        document.getElementById('location-input').selectedIndex = 0;
        document.getElementById('category-input').selectedIndex = 0;
        document.getElementById('date-input').selectedIndex = 0;
        clearAllItems();
        displayItems(items);
    }


    function displayItems(items){
        items.forEach((item) => {
            var itemDiv = document.createElement('div');
            itemDiv.classList.add('item');
            <% if(user){ %>
                itemDiv.innerHTML = `<h6 class="item-details"><strong>${item.item_name}</strong><span>£${item.est_cost}</span><span class="item-location">${item.location}</span></h6>
                                                <img class="item-img float-right" src="https://test123-njs.s3.eu-west-2.amazonaws.com/${item.key}" alt="">
                                                <p class="item-desc">${item.description.substring(0,50)}...</p>
                                                <p class="item-date text-muted">${item.date_posted.substring(0,16)}</p>
                                                <div class="item-btn">
                                                    <button class="popupmodal btn btn-primary item-poster">${item.user_posted}</button>
                                                    <!-- <button class="btn btn-primary item-makeoffer">See more</button> -->
                                                </div>`;
            <% }else{ %>
                itemDiv.innerHTML = `<h6 class="item-details"><strong>${item.item_name}</strong><span>£${item.est_cost}</span><span class="item-location">${item.location}</span></h6>
                                                <img class="item-img float-right" src="https://test123-njs.s3.eu-west-2.amazonaws.com/${item.key}" alt="">
                                                <p class="item-desc">${item.description.substring(0,50)}...</p>
                                                <p class="item-date text-muted">${item.date_posted.substring(0,16)}</p>
                                                <div class="item-btn">
                                                        <button type="button" class="btn btn-primary btn-sm item-poster" data-container="body" data-toggle="popover" data-placement="top" data-content="You must be signed in to message the user.">${item.user_posted}</button>
                                                    <!-- <button class="btn btn-primary item-makeoffer">See more</button> -->
                                                </div>`;
            <% } %>
            document.getElementsByClassName('items')[0].appendChild(itemDiv);
            itemDiv.addEventListener('click', (e) => {
                location.replace(`/makeoffer/${item.item_id}`);
            });
        });
        var messageBtns = document.getElementsByClassName('item-poster');
        for(var i = 0; i < messageBtns.length; i++){
            messageBtns[i].addEventListener('click', (e) => {
                e.stopPropagation();
        });
        }
    }

    function sortByDate(date, array){
        if(date == 'Oldest'){
            return array.sort((a, b) => {
                return new Date(a.date_posted) - new Date(b.date_posted);
            });
        }else{
            return array.sort((a, b) => {
                return new Date(b.date_posted) - new Date(a.date_posted);
            });
        }
    }

    function clearAllItems(){
        var items = document.getElementsByClassName('item');
        for(var i = 0; i < items.length; i++){
            items[i].classList.add('hide');
        }
    }

    $(function () {
        $('[data-toggle="popover"]').popover()
    });

    <% if(user){ %>
        var elements = document.getElementsByClassName("popupmodal");
        for (var i = 0, len = elements.length; i < len; i++) {
            elements[i].addEventListener("click", function() {
                $('#recipient').attr('value', this.innerHTML);
                $('#sendmessagemodal').modal('show');
            }, false);
        }
    <% } %>
</script>