<% include base %>
<% include ../partials/sendmessagemodal %>
<link rel="stylesheet" type="text/css" href="/styles/youroffer.css">
<div class="offer-search-container">
    <form action="#">
        <input type="text" name="offer-search" id="offer-search" placeholder="Find an offer">
    </form>
</div>
<div class="offer-container">
</div>
<script>
    var offers = [];
    <% yourOffers.forEach(offer => { %>
        var itemImages = '';
        <% for(var i = 2; i < offer.length; i++){ %>
            itemImages += '<%= offer[i].key %> ';
        <% } %>
        offers.push({
            'itemName': '<%= offer[1].item_name %>',
            'itemDesc': '<%= offer[1].description %>',
            'itemValue': '<%= offer[1].est_cost %>',
            'itemBuyingImg': '<%= offer[1].key %>',
            'yourMoneyOffer': '<%= offer[1].money_offered %>',
            'yourItemsImgs': itemImages,
            'offerID': '<%= offer[1].tradeoffer_id %>'
        });
    <% }); %>
    
    document.getElementById('offer-search').addEventListener('keyup', (e) => {
        if(e.key == 'Enter'){
            e.preventDefault();
            var search = e.target.value;
            var offersToShow = [];
            offers.forEach(offer => {
                Object.keys(offer).forEach(key => {
                    if(offer[key].includes(search)){
                        offersToShow.push(offer);
                    }
                });
            });
            clearOffers();
            displayOffers(offersToShow);
        }
    });

    function clearOffers(){
        var items = document.getElementsByClassName('offer');
        for(var i = 0; i < items.length; i++){
            items[i].classList.add('hide');
        }
    }

    displayOffers(offers);

    function displayOffers(offers){
        var offerContainer = document.getElementsByClassName('offer-container')[0];
        offers.forEach(offer => {
            var images = '';
            offer.yourItemsImgs.split(' ').forEach(img => {
                images += `<div class="item-offered"><img src="https://test123-njs.s3.eu-west-2.amazonaws.com/${img}" alt=""></div>` 
            });
            offerContainer.innerHTML += `
            <div class="offer">
                <h1 class="offer-title">${offer.itemName}</h1>
                <br />
                <br />
                <div class="items-offered">
                    <div class="item-offered"><img src="https://test123-njs.s3.eu-west-2.amazonaws.com/${offer.itemBuyingImg}" alt=""></div>
                </div>
                <p class="offer-desc">${offer.itemDesc}</p>
                <br />
                <div class="horizontal-line"></div>
                <h2>Your offer</h2>
                <br />
                <br />
                <p>Cash offer: £${offer.yourMoneyOffer}</p>
                <div class="items-offered">
                    `+images+`
                </div>
                <br />
                <a href="/deleteoffer/${offer.offerID}"><button class="btn btn-outline-danger">Delete</button></a>
            </div>`;
        });
    }
</script>